

@media (min-width: 320px) and (max-width: 575.98px) {


    .navbar-nav .nav-item .nav-link {
        text-align: center;
        font-size: 14px;
        color: white;
        background-color: gray;
        border-radius: 5px;
        margin-bottom: 3px;
    }
    .navbar-nav .nav-item :hover.nav-link {
    color: palevioletred;
    }

    .navbar-nav .nav-item .nav-link.active {
        color: white;
        font-weight: bold;
    }

    .navbar-light .navbar-toggler {
        color: gray;
    }
    .navbar-toggler-icon{
     background-color: palevioletred;
        border-radius: 5px;
    }

     .text_content img{
        display: none;
    }

    .flow:after{
        display: none;
    }

    .flow2:after{
        display: none;
    }
    
    .left_psd h5:after{
        display: none;
    }
    .psd_imag span{
        display: none;
    }
    .rest_content a:before{
        display: none;
    }
    .rest_content a:after{
        display: none;
    }
    
    .right_psd h5:after{
        display: none;
    }
    .rest_content a{
        padding: 15px 60px;
    }
    .text_content h2 {
            font-size: 33px
    }

    .text_content h4 {
        font-size: 25px;
    }
    .menu {
        padding-top: 19px;
    padding-bottom: 100px;
    }
    .navbar-toggler-icon{
        background-color: grey;
    }
    .text_content{
        margin-top: 50px;
    }
    .workflow {
    margin-top: 80px;
    margin-bottom: 100px
    }
    .workfolow_content {
    
    margin-top: 60px;
    }
    .workfolow_content p {
        margin-bottom: 50px;
    }
    
    .hoyna{
        padding-top: 20px;
    padding-bottom: 30px;
    box-shadow: -4px -32px 57px #f6f7fa;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;

    }
    .browser {
        display: none;
    }
    .today spn{
    
     margin: auto;
       
    }
    .february{
        text-align: center;
    }
    .knowledge i{
        display: none;
    }
    .draghere img {
 
    top: 7px;
    left: 75px;
    }
    .headers h4{
        text-align: center;
    }
    .right_drag h2 {
        font-size: 50px;
        text-align: center;
    }
    .right_drag p{
        text-align: justify;
        font-size: 16px;
    }
    .psd_imag{
        display: none;
    }
    .head h2 {
    font-size: 44px;
    }
    .left_psd {
    margin-top: 13px;
        text-align: center;
    }
    .draghere {
    
     margin-left: 0px;
    }
    .left_psd p{
        width: 100%;
    }
    .right_psd {
    margin-top: 50px;
      
    }
    .right_psd h5{
        text-align: center;
    }
    .right_psd p {
        width: 100%;
        text-align: center
        
    }
    
    .psd {
    padding-top: 80px;
    padding-bottom: 50px;
    box-shadow: 0px 13px 26px #f6f7fa;
    }
    
    .background_color {
    background-color: white;
    padding: 36px 0px;
    }
        
    .price_head h2 {
    font-size: 37px;
    margin-bottom: 19px;
    }
    .right_footer{
        display: none;
    }
    
    
    .hardwork {
        margin-right: 0px;
    }

    .left_footer p{
        text-align: center;
    }
    
 
    
}
    

@media (min-width: 576px) and (max-width: 767.98px) {

        .navbar-nav .nav-item .nav-link {
        text-align: center;
        font-size: 18px;
        color: white;
        background-color: gray;
        border-radius: 5px;
        margin-bottom: 3px;
    }
    .navbar-nav .nav-item :hover.nav-link {
    color: palevioletred;
    }

    .navbar-nav .nav-item .nav-link.active {
        color: white;
        font-weight: bold;
    }

    .navbar-light .navbar-toggler {
        color: gray;
    }
    .navbar-toggler-icon{
     background-color: palevioletred;
        border-radius: 5px;
    }
 
.text_content img {
    position: absolute;
    top: 267px;
    left: 120px;
    margin-top: 80px;
    display: none;
}
    
    .text_content h2 {
    font-size: 56px;
    }
    .menu {

    padding-top: 28px;
    padding-bottom: 150px;
}
   .text_content {
    margin-top: 80px;
    }
    .workflow {
    margin-top: 0px;
    margin-bottom: 100px
    }
    
    .flow:after{
        display: none;
    }
    .flow2:after{
        display: none;
    }
    .workfolow_content {
    text-align: center;
    margin-top: 90px;
    }
    .workfolow_content h5{
        margin-top: 25px;
    }
    .workfolow_content p {
        margin-bottom: 40px;
    }

    .browser{
        background: none;
    }
    .nope h2{
        font-size: 60px;
        text-align: center;
    }
    .browser_content {
    padding-bottom: 50px;
    text-align: center;
    }
    .now{
        text-align: right;
    }
  .today spn {
    margin: auto
    }
       .february{
        text-align: center;
    }
     .hardwork {
        margin-right: 0px;
    }
.draghere img {
    position: absolute;
    top: -2px;
    left: 343px;
    width: 223px;
    height: 193px;
    }
    .right_drag h2 {
        text-align: center;
    }
    .head h2{
        font-size: 60px;
    }
    
    .psd_imag {
    position: absolute;
    top: 630px;
    left: 0;
    }
    .left_psd h5{
        text-align: center
    }
    .left_psd p {
    width: 70%;
    margin: auto;
    }
    .right_psd h5{
        text-align: center;
    }
    .right_psd p{
        width: 70%;
        margin: auto;
    }
    .left_psd h5:after{
        
        display: none;
    }
    .right_psd h5:after{
        display: none;
    }
    .psd_imag span{
        display: none;
    }
    .psd_imag span:nth-last-child(1){
        display: none;
    }
    .psd {

    padding-bottom: 30px;
    }
    .background_color {

    margin-bottom: 0px;
    padding: 30px 0px;
    }
    .left_footer{
        text-align: center;
    }
    .right_footer{
        text-align: center;
    }
    
}
